{% extends 'base/base.html' %}
{% block title %}Ajout d'un client {% endblock title %}
{% block breadcrumb %}Ajout d'un client{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>La liste des client</h5>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-success" href="{% url 'add-event-member' %}">Ajouter un client</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>                  
                          <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Sexe</th>
                            <th>City</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for member in eventmember %}
                                <tr role="row">
                                    <td>{{ member.name }}</td>
                                    <td>{{ member.email }}</td>
                                    <td>{{ member.telephone }}</td>
                                    <td>{{ member.address }}</td>
                                    <td>{{ member.sexe }}</td>
                                    <td>{{ member.city }}</td>
                                    <td>
                                   {% if event.status == 'actif' %}
                                    <a href="{% url 'editerStatusClient' member.id %}" class="text-success">{{ member.status|title }}</a>
                                   {% elif event.status == 'perdu' %}
                                    <a href="{% url 'editerStatusClient' member.id %}" class="text-primary">{{ member.status|title }}</a>
                                   {% else %}
                                    <a href="{% url 'editerStatusClient' member.id %}" class="text-danger">{{ member.status|title }}</a>
                                   {% endif %}
                                    </td>
                                    <td>
                                        
                                        <a class="btn btn-danger" href="{% url 'remove-event-member' member.id %}" title="delete">
                                            <i class="fa fa-trash"></i>
                                        </a> 
                                        <a class="btn btn-info" href="{% url 'clientDetail' member.id %}" title="view">
                                            <i class="fa fa-eye"></i>
                                        </a> 
                                        <a class="btn btn-info" href="{% url 'editerClient' member.id %}" title="edit">
                                          <i class="fa fa-edit"></i>
                                      </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
